.ActiveFilter {

   position: absolute;
   top: 10px;
   right: 10px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-end;
   background-color: rgba(0,0,0,0.5);
   padding: 5px;
   max-width: calc(100% - 60px);
   border-radius: 3px;
   padding-right: 40px;
   color: white;

   .search-term {
      margin-left: 0.65em;
   }

}