@import './form.scss';

/* This is the border box fix */
html {
 box-sizing: border-box;
 height: 100%;
 font-family: 'Optima', sans-serif;
}
*, *:before, *:after {
 box-sizing: inherit;
}


html, body, #root, .App, #mapID {
   height: 100%;
   width: 100%;
   margin: 0px;
   padding: 0px;
}

#mapID {
   position: fixed;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
}

p {
   font-size: 1.2em;
   margin-block-end: 1.2em;
}

a {
   color: #337ab7;
}

a:hover {
   color: #337ab7;
}

a:visited {
   color: #337ab7;
}

.tooltip {
   max-width: 400px;
   padding: 20px;
}

